/* Main Navigarion */
div#MainNavigation{margin:0 -25px;}
.main-navigation{background:$(dropdown.bg);font:$(dropdown.font);position:relative}
.dropdown-button{display:none;font-size:18px;color:$(dropdown.link)}
nav{width:100%}
nav ul{list-style:none;padding:0;margin:0;z-index:10}
ul.leftmenus .fa{position:relative;}
li.homelink{background:rgba(255, 255, 255, 0.12)}
nav>ul>li{transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;position:relative}
nav>ul>li>a{padding:0 25px;line-height:51px;color:$(dropdown.link);display:block;text-transform:capitalize}
nav>ul>li:hover{background:rgba(255,255,255,0.1)}
nav>ul>li.submenu>a,nav>ul>li.tl-menuRecent>a,nav>ul>li.megamenu>a{position:relative}
nav>ul>li.submenu>a:after,nav ul li.submenu2>a:after,nav>ul>li.tl-menuRecent>a:after,nav>ul>li.megamenu>a:after{content:'\f0d7';position:Absolute;font-size:10px!important;top:50%;width:20px;height:20px;font:400 15px 'fontawesome',sans-serif;margin-top:-10px;text-align:Center;line-height:20px}
nav ul li.submenu2>a:after{content:'\f0da';}
nav>ul>li.submenu>a:after{color:$(dropdown.link)}
nav ul li.submenu2>a:after{color:$(dropdown.smlc)}
nav>ul>li.submenu>ul,nav>ul>li.submenu>ul>li.submenu2>ul,nav div.nav-post-list,li.megamenu .megamenu-inner{filter:drop-shadow(0 0 2px 2px rgba(0,0,0,0.3));-webkit-filter:drop-shadow(0 0 5px rgba(0,0,0,0.1));position:absolute;opacity:0;visibility:hidden;transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out}
nav>ul>li.submenu>ul{width:200px;background:$(dropdown.smbg);border-top:3px solid rgba(255,255,255,0.25);top:125%}
nav>ul>li.submenu:hover>ul,nav li.tl-menuRecent:hover div.nav-post-list,li.megamenu:hover .megamenu-inner{opacity:1;top:100%;visibility:visible}
nav>ul>li ul a{display:block;padding:12px 20px;color:$(dropdown.smlc);background:$(dropdown.smbg);border-bottom:1px solid $(body.border.c);transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out}
nav>ul>li ul a:hover{color:$(keycolor);}
nav>ul>li.submenu>ul>li.submenu2{position:relative}
nav>ul>li.submenu>ul>li.submenu2>ul{background:$(dropdown.smbg);top:0;width:200px;left:200px;}
nav img{max-height:200px;overflow:hidden;}
nav>ul>li>ul>li.submenu2:hover>ul{visibility:visible;opacity:1}
nav>ul>li.submenu>ul>li.submenu2>ul:after{top:10%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(238,238,238,0);border-width:5px;margin-top:-10px}
nav li.tl-menuRecent,li.megamenu{position:static}
nav div.nav-post-list,li.megamenu .megamenu-inner{width:100%;z-index:1000;top:125%;padding:25px 0;background:$(dropdown.smbg);border-top:3px solid rgba(255,255,255,0.25)}
li.megamenu .megamenu-inner img{height:150px;width:100%}
nav div.nav-post-list ul{width:23%;margin:0 1%}
.nav-item{transition:none;margin:0 12px;overflow:hidden;position:relative}
.n-item{float:left;width:25%;overflow:hidden;position:relative;transition:none}
.tl-menuMag{overflow:hidden;position:relative;margin:0 12px;transition:none}
.tl-hW{position:relative;padding:0 10px}
.n-item .tl-hW h3{position:absolute;bottom:0;padding:10px;right:0;color:#222;z-index:9;background:rgba(255,255,255,0.84);margin:0;font-size:12px;font-weight:600;left:0;text-transform:uppercase;text-align:left;transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;}
.tl-menuMag:hover .tl-hW h3{color:$(keycolor)}
.n-item a{color:$(dropdown.smlc)}
.megamenu-inner{width:100%;z-index:2}
nav>ul>li.megamenu>ul{display:none;}
.megamenu-inner ul{float:left;width:20%}
.megamenu-items{padding:0 25px}
nav>ul>li.megamenu ul a{border:none;padding:10px 0}
.megamenu-items h4{margin-top:0}
.megamenu-inner ul:hover h3{color:$(keycolor);background:rgba(0,0,0,0.1);box-shadow:1px 1px 2px rgba(0,0,0,0.2)}
.megamenu-inner h3{color:#666;display:inline-block;padding:10px 20px;transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out}
li.rpost{float:right;list-style-type:none}
.rpost .tl-headlinks{background-color:$(keycolor);color:#fff;margin:0;font-size:16px;padding:0 15px}
.rpost .tl-headlinks:hover{background-color:rgba(238, 238, 238, 0.08);}
.rpost .randompost{line-height:51px}
li.tl-menuRecent .nav-item .ss{display:none}
i.fa.fahome.fa-home{font-size:17px}
nav>ul>li.homelink>a{padding:0 15px}
li.submenu.choose-cat{background:$(keycolor)}
nav>ul>li.submenu.choose-cat>ul{right:0}
nav>ul>li.submenu.choose-cat>ul{top:100%;width:150px;border-top: none;}
nav>ul>li.submenu.choose-cat ul a{color:#eeeeee;background:#333;border:none;padding:8px 15px;}
nav>ul>li.submenu.choose-cat ul a:hover{background:$(keycolor);color:#fff;}

/* News Ticker */
.tickerwrapper{position:relative;overflow:hidden;height:32px;border:1px solid $(body.border.c);margin:0px 0px 25px 0}
.tickerlink{background:$(keycolor);color:#fff!important;padding:7px;margin:0 20px 0 0}
.tickerl{display:none;height:32px;line-height:32px!important;padding:0 10px;float:left;color:#fff;background:$(keycolor)}
.ticker-nigas{height:32px!important;overflow:hidden;line-height:32px!important;float:left;width:-moz-calc(100% - 105px);width:calc(100% - 105px)}
.ticker-nigas ul{padding:0;margin:0;list-style:none}
.ticker-nigas ul li{line-height:32px!important}
.ticker-nigas ul li a{color:$(body.heading.c);font-weight:600;text-decoration:none}
.ticker-nigas ul li a:hover{color:$(keycolor);text-decoration:underline}

/* Featured Section */
.tl-topfeatured{position:relative;margin:25px 0;display:block;background-color:$(featured.background.color)}
.featured-top{position:relative}
.featured-full-top{width:100%;position:relative;overflow:hidden}
.featured-left-n-right{position:relative;overflow:hidden}
.featured-left,.featured-right{width:50%;}
.featured-two-col{position:relative;overflow:hidden}
.featured-small{float:left;width:50%}
.featured-inner{padding:0;overflow:hidden}
.featured-small .featured-inner{margin-bottom:5px;margin-right:5px;}
.featured-small.last-child .featured-inner{margin-right:0}
.featured-left .tl-topost-item,.tl-postCarousel.topCar .car-item{max-height:415px}
.featured-right .tl-topost-item{height:205px}
.featured-top .popup-stuff,.featured-top .ss,.featured-top .tl-recentLink,.tl-postCarousel-F.fouritem .tl-recentLink{display:none}
.featured-top .tl-wspace{padding:0;border:none}
.featured-top .tl-recentMag{margin:0}
.featured-full-bottom{position:relative;display:block;overflow:hidden}
.small-grid{float:left;width:33.3333333333%}
.small-grid .tl-topost{margin-top:5px;margin-right:5px;}
.small-grid.last-child .tl-topost{margin-right:0px;}
.tl-topost-item:before,.tl-postCarousel.topCar .car-item:before,.tl-postCarousel-F.fouritem .car-item:before,.tl-galleryMag .headline:before{opacity:0.8;z-index:1;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.tl-topost-item:hover:before,.tl-postCarousel.topCar .car-item:hover:before,.tl-postCarousel-F.fouritem .car-item:hover:before,.tl-galleryMag .headline:hover:before{opacity:1;background:rgba(0,0,0,0.3)}
.tl-topost-item:before,.tl-postCarousel.topCar .car-item:before,.tl-postCarousel-F.fouritem .car-item:before,.tl-galleryMag .headline:before{pointer-events:none;position:absolute;content:'';width:100%;height:100%;left:0;top:0;vertical-align:top}
.tl-topost-item:before,.tl-postCarousel.topCar .car-item:before,.tl-postCarousel-F.fouritem .car-item:before,.blogMainContent .tl-topost-item:before,.tl-galleryMag .headline:before{background:rgba(0,0,0,0.2);box-shadow: inset 0 -400px 200px -200px rgba(0,0,0,.4);}
.tl-featuredMag{overflow:hidden;position:relative}
.tl-featuredMag img{-webkit-transition:all 0.7s ease;transition:all 0.7s ease}
.tl-topost{position:relative;overflow:hidden;text-align:left}
.tl-topost img{width:100%;height:100%}
div#FeaturedXLarge-2 .tl-topost-cat{background:#00bce4;}
div#FeaturedSmall-3 .tl-topost-cat{background:#7ac143;}
div#FeaturedSmall-4 .tl-topost-cat{background:#ffcc33;}
div#FeaturedLarge-5 .tl-topost-cat{background:#fd5c63;}
div#FeaturedMedium-6 .tl-topost-cat{background:#ff0033;}
div#FeaturedMedium-7 .tl-topost-cat{background:#ff7243;}
div#FeaturedMedium-8 .tl-topost-cat{background:#553a99;}
.tl-topost-cat{position:absolute;top:10px;background-color:rgba(51,51,51,0.79);z-index:2;display:inline-block;padding:5px 10px;font-size:12px;color:#fff;text-transform:uppercase;transition:all .4s linear;-moz-transition:all .4s linear;-webkit-transition:all .4s linear}
.tl-topost-cat:hover{background-color:$(keycolor)}
.tl-topost-item:hover h3{margin:5px 0}
.tl-topost:hover .tl-topost-item .top-right-content,.tl-postCarousel.topCar .car-item:hover .topCaro-meta,.car-item:hover .tl-postCarousel-F .car-item h3{bottom:35px;}
.tl-topost-item .top-right-content,.tl-postCarousel-F .car-item h3,.topCaro-meta,#related-posts li h4{position:Absolute;z-index:2;bottom:20px;transition:bottom 0.5s cubic-bezier(.55,0,.1,1);left:0;margin:0;moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-sizing:border-box;padding:0 30px;width:100%}
.tl-topost-item h3,.topCaro-meta{margin:5px 0;text-transform:capitalize}
.blogMainContent .tl-topost-item h3{text-transform:capitalize}
.blogMainContent .tl-topost-item .top-right-content{bottom:30px}
.blogMainContent a.tl-topost-cat{background:$(keycolor);}
.tl-topost-item .tl-topost-item-link,.blogMainContent .tl-topost-item .recentdate,.blogMainContent .tl-topost-item .authorname{color:#fff}
.tl-topfeatured .authorname,.tl-topfeatured .recentdate,.tl-postCarousel-F .authorname,.tl-postCarousel-F .recentdate{color:#FFFFFF}
div#FeaturedXLarge-2 a h3,.tl-postCarousel .car-item h3{color:#FFF;font-weight:500;letter-spacing:1px;font-size:30px}
.featured-two-col a h3{color:#fff;font-size:18px;font-weight:500;}
.featured-large a h3,.small-grid a h3{font-size:20px;color:#fff;font-weight:500;}
.small-grid .tl-topost-item{height:250px}

/* ---------Comment
----------------- */
.comments .comments-content .datetime:before,.comments .continue a:after,.comments .comment .comment-actions > a:after,.comments .comment .comment-actions .item-control a:before,span.emobutton:before,.comments .comments-content .icon.blog-author:before,.commentarea .author-comment:before{font-family:FontAwesome}
.tl-commentTabs{position:relative;display:block;height:35px;margin:25px 0;border-bottom:2px solid #eeeeee;}
.tl-commentTabs h4{font-size:16px;float:left;margin:0;line-height:33px;border-bottom:2px solid #ed1b2e;}
.comment-buttons{float:right}
.comment-buttons button{font:normal normal 14px 'Lato', sans-serif;text-align:center;color:#FFF;padding:8px 15px;margin-right:2px;display:inline-block;border:none;outline:none;cursor:pointer;transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;}
.comment-buttons button:first-child{margin-right:3px}
.comment-buttons button:last-child{margin-right:-2px}
.comment-buttons button.active,.comment-buttons button:hover{background:#ed1b2e}
button.blogger{background:#f57d00}
button.disqus{background:#2e9fff}
button.facebook{background:#3b5998}
.comments h4{font-size:15px;margin-top:0;}
.comments{font-size:14px}
.comments .comments-content{margin-bottom:16px;margin-top:30px}
.comments .comment-block::after{border-color:transparent white transparent transparent;right:auto;left:-15px}
#container-commentfb .fb_iframe_widget,#container-commentfb .fb_iframe_widget span,#container-commentfb .fb_iframe_widget iframe{width:100%!important;display:block!important;min-width:100%}
.comments .comments-content .comment-thread ol,.comments .comments-content .comment-thread,.comments .comments-content .comment:first-child,.comments .comments-content .comment,.comments .comments-content .comment:last-child{margin:0;padding:0}
.comments .avatar-image-container{float:left;max-height:none;width:45px;height:45px;padding:3px}
.comments .avatar-image-container img{width:100%;height:100%;max-width:none;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;}
.comments .comment-replies .avatar-image-container{width:35px;height:35px}
.comments .comment-block{margin-left:60px;}
.comments .comment-replies .comment-block{margin-left:50px}
.comments .thread-toggle{margin-bottom:8px}
.comments .comments-content .comment-replies{margin-left:57px;margin-top:25px}
.comments .comments-content .comment-replies ol,.comments .comments-content .comment-replies .comment-replybox-thread #form-wrapper{padding:8px;margin-bottom:15px}
.comments .comments-content .datetime{font-size:85%;}
.comments .comments-content .datetime:before{content:'\f017';display:inline-block;margin-right:5px;color:$(body.meta.c);font-size:12px}
.comments .comments-content .datetime a{color:$(body.meta.c)}
.comments .comments-content .user a{color:$(body.text.c)}
.comments .comments-content .datetime a:hover,.comments .comments-content .user a:hover{color:$(keycolor)}
.comments .comments-content .inline-thread{border-left:2px solid $(body.border.c);margin-left:0px}
.comments .comments-content .comment-replies ol,.comments .comments-content .comment-replies .comment-replybox-thread #form-wrapper,.commentarea{background-color:rgba(0,0,0,0.01);-webkit-box-shadow:rgba(0,0,0,0.117647) 0 0 2px;box-shadow:rgba(0,0,0,0.117647) 0 0 2px;border-radius:2px}
.comments .continue a:after,.comments .comment .comment-actions > a:after{content:'\f112';margin-left:5px;opacity:0.6;font-size:11px}
.comments .comment .comment-actions > a{left:-58px;height:20px;padding:0;padding-left:19px}
.comments .comment .comment-actions > a:hover{text-decoration:none}
.comments .comment .comment-actions,.comments .comment .comment-actions span,#comments-block.avatar-comment-indent dd,#comments-block.avatar-comment-indent dd span.blog-admin{position:static}
.comments .comment .comment-actions .item-control a{display:none;top:0;position:absolute;padding:0;right:0;text-indent:-9999px;color:$(body.meta.c)}
.comments .comment .comment-actions .item-control a:hover{color:$(keycolor)}
.comments .comment .comment-actions .item-control a:before{content:"\f00d";right:2px;top:0;font-size:15px;position:absolute;text-indent:0}
.comments .comments-content .loadmore a,.addnew-comment a{background-color:$(keycolor);padding:5px;font-weight:bold}
#comments-block .avatar-image-container img{float:none;border:none}
#comments-block.avatar-comment-indent{margin-left:55px}
#comments-block .avatar-image-container{left:-55px;top:-6px}
.commentarea .datecm{float:right;font-size:80%;font-weight:normal;margin-right:25px}
.commentarea .comment-delete{position:absolute;top:7px;right:7px}
.commentarea{padding:5px;margin-bottom:10px}
.addnew-comment a{text-align:center;display:block}
.comments .comments-content .icon.blog-author:before,.commentarea .author-comment:before{content:"\f040";top:0;left:1px;font-size:13px;font-weight:normal;color:$(keycolor);opacity:0.6}

/* Related Widget
----------------------------------------------- */
div#related-posts ul{position:relative;overflow:hidden;margin-right:-25px}
#related-posts li{display:block;width:33.3333333333%;float:left}
.li-rinner{margin-right:25px;margin-top:7px;margin-bottom:21px;position:relative}
.tl-relatedthumb img{width:100%;max-height:157px;}
#related-posts li h4{padding:10px 15px;background:rgba(255, 255, 255, 0.84);bottom:0;margin:0}

/*----------
4. Widgets
-----------*/
div#FollowByEmail1 form{margin:10px 0;padding:0}
.FollowByEmail .follow-by-email-inner input{font:$(body.font)}
.FollowByEmail .follow-by-email-inner{position:relative;background:url(http://2.bp.blogspot.com/-XLPTPEbAXRI/Vi2odn00b6I/AAAAAAAAAO8/5vSCIygfqPE/s1600/email-header-by-themelet.png) no-repeat top left;padding:32px 0 0 0;}
.follow-by-email-inner:before{color:#555555;content:"Subscribe Now and Get Our Latest Articles Delivered to Your email Inbox.";font:$(body.font);font-size:13px;font-weight:normal;text-transform:capitalize;display:block;margin-bottom:10px;padding-left:55px;position: relative;}
.follow-by-email-address{background:#F1F1F1!important;display:block!important;padding:15px 0!important;border:none!important;text-indent:20px;outline:none!important;color:#333!important;width:100%!important;height:auto!important}
.follow-by-email-submit{display:block!important;margin:0 0 0 0!important;background:$(keycolor)!important;width:100%!important;height:auto!important;color:#fff!important;border-radius:0!important;text-align:center!important;padding:15px 10px!important;text-transform:uppercase!important;outline:none!important;border:none!important;trxt-align:center}
#sidebar-wrapper .follow-by-email-submit{margin:10px 0 0 0!important}
#footer-wrapper .follow-by-email-inner:before{display:none}
#footer-wrapper .FollowByEmail .follow-by-email-inner{padding:0;background:none}
#footer-wrapper .cloud-label-widget-content a{color:$(footer.text);background:$(footer.bg);border:1px solid $(footer.border);}
#footer-wrapper .list-label-widget-content ul li{border-bottom:1px solid $(footer.border);}
#footer-wrapper .list-label-widget-content ul li a{color:$(footer.text);}
.cloud-label-widget-content a{float:left;margin:3px;font-weight:normal;font-size:13px;padding:5px 10px;color:$(body.text.c);background:$(body.meta.bg);display:inline-block}
.cloud-label-widget-content a:hover,#footer-wrapper .cloud-label-widget-content a:hover{background:$(keycolor);color:#FFFFFF;}
.list-label-widget-content{margin-top:-10px}
.list-label-widget-content ul li{list-style:none;overflow:hidden;padding:0;position:relative;border-bottom:1px solid $(body.border.c);}
.list-label-widget-content ul li a{position:relative;display:inline-block;color:$(body.text.c);padding:10px 0;font-size:13px}
.list-label-widget-content ul li span{float:right;padding:10px 0}
.list-label-widget-content ul li a:hover,#footer-wrapper .list-label-widget-content ul li a:hover{color:$(keycolor);}
.list-label-widget-content ul li a:before{content:'\f292';display:inline-block;font-family:FontAwesome;font-weight:normal;font-size:11px;margin-right:8px}
.FeaturedPost .post-summary{display:flex;flex-direction:column;padding:0}
.FeaturedPost img{order:1}
.FeaturedPost h3{order:2;margin:10px 0;font-size:16px}
.FeaturedPost h3 a:hover{color:$(keycolor)}
.FeaturedPost h3 a{color:$(body.heading.c)}
.FeaturedPost p{order:3;margin:0}

/*-----------
5. Footer
------------*/
footer#footer-wrapper {overflow: hidden;position: relative;}
#footer-wrapper .tl-recentLink{display:none}
#footer-wrapper .simple-inner .container .recentcontent {float:left;}
.tl-footer-wrap{background:$(footer.bg);padding:0;color:$(footer.text)}
.footer-sec .widget {margin: 35px 0!important;}
.tl-footer-wrap a{color:$(footer.link)}
.tl-footer-wrap a:hover{color:$(keycolor)}
.footer-sec h2{color:$(footer.heading);margin:0 0 35px 0;display:block;font-size:25px;font-weight:300}
.tl-footer-cols{position:relative;overflow:hidden}
.tl-footer-wrap .col3.last-child .footer-sec{margin:0}
.tl-footer-wrap .widget{margin:0 0 35px 0}
.footer ul li{padding:10px 0;margin:0;border-bottom:1px solid #666;color:#666}
.tl-footer-wrap ul.recent-post-item li:first-child,.tl-footer-wrap ul.random-inner li:first-child,.tl-footer-wrap .simple-inner .container:first-child{padding-top:0!important}
.tl-footer-wrap .recent-post-item li,.tl-footer-wrap .simple-inner .container,.tl-footer-wrap .tl-randomSimple ul li{position:relative;border-bottom:1px solid $(footer.border);overflow:auto;padding:12px 12px 12px 0}
.tl-footer-wrap .recent-post-item li img,.tl-footer-wrap .tl-randomSimple ul li img,.tl-footer-wrap .simple-inner .container img{width:60px;height:60px;}
.tl-footer-wrap .recent-post-item li h3,.tl-footer-wrap .tl-randomSimple ul li h3,.tl-footer-wrap .simple-inner .container h3{font-size:14px;padding:0;margin:0 0 5px 0}
.tl-footer-bar{background:$(keycolor);display:block;color:#FFFFFF;overflow:hidden;position:relative}
.tl-footer-bar .tl-social-icons .fa{width:50px;height:50px;line-height:50px;color:#FFFFFF;font-size:20px}
.footer-bar-content{position:relative;overflow:hidden;margin:0px -25px;}
.socialicons{float:left;margin-right:5px;display:inline-block}
.socialicons ul{padding:0;margin:0;list-style:none}
.socialicons ul li{display:inline-block;margin-top:5px}
.socialicons ul li a{display:block;font:400 20px 'fontawesome';padding:5px;text-align:Center;transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out}
.socialicons ul li a:hover{background:$(keycolor)}
.tl-footer-wrap .tl-randomSimple ul{padding:0;margin:0;list-style:none}
.tl-footer-wrap .tl-recentComments .comment-item{padding:10px 0;border-bottom:1px solid #666;clear:both;font:400 13px 'open sans','fontawesome',sans-serif;color:#666;line-height:20px!important}
.tl-footer-wrap .tl-recentComments .comment-item img{width:50px;height:50px;margin:5px;float:left;border-radius:5px;box-shadow:0 1px 1px rgba(0,0,0,0.2)}
.tl-footer-wrap .tl-recentComments .comment-item .authornamec{color:#fff}
.tl-footer-wrap .tl-recentComments .comment-item .commentcontent{color:#eee}
.tl-footer-wrap .tl-recentComments .comment-item .commenttime{color:#666}
.tl-footer-wrap .tl-recentComments .comment-item .commentlink{text-align:right}
.tl-footer-wrap .tl-recentComments .comment-item .commentlink a{color:$(footer.link);text-decoration:none}
.tl-footer-wrap .recent-post-item li a,.tl-footer-wrap .tl-randomSimple ul li a,.tl-footer-wrap .simple-inner .container a{color:$(footer.link);font-weight:600;transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out}
.tl-footer-wrap .recent-post-item li a:hover,.tl-footer-wrap .tl-randomSimple ul li a:hover,.tl-footer-wrap .simple-inner .container a:hover{color:$(keycolor)}
.contactpop{position:fixed;width:230px;top:50%;margin-top:-200px;z-index:101;left:50%;margin-left:-115px;background:$(content.bg);display:none;-moz-box-shadow:0 0 5px rgba(0,0,0,0.2);-webkit-box-shadow:0 0 5px rgba(0,0,0,0.2);box-shadow:0 0 5px rgba(0,0,0,0.2);}
.contactpop .form{padding:15px}
.contact-form-widget{position:relative;}
.closecontact{position: absolute;display:inline-block;right:0;top:0;background:$(keycolor);color:#fff;width:30px;height:30px;cursor:pointer;text-align:Center;line-height:30px!important;font:400 15px 'fontawesome';-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.closecontact:hover{background:#222}
.contactpop .contact-form-name,.contactpop .contact-form-email,.contactpop .contact-form-email-message{padding:5px;background:$(body.meta.bg);width:200px;border:none;margin-bottom:5px;outline:none}
.contactpop p{font:italic 400 13px 'open sans',sans-serif;color:#bbb;margin:0 0 5px 0}
.contact-form-button{padding:5px 0;width:100%;background:$(keycolor);text-align:Center;border:none;height:40px;outline:none;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.contact-form-button:hover{background:#222}
.footer-sec .tl-wrapIn{}
.tl-footer-wrap .footer-sec{margin:0 25px 0 0}
.footernav{float:left}
.footernav ul{padding:0;list-style:none;margin:0}
.footernav ul li{display:inline-block}
.footernav ul li a{padding:10px 15px;margin-left:10px;background:#1f8748;border-radius:5px;color:#fff;display:block;transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out}
.footernav ul li a:hover{background:#222}
/*-----------
6. Credit
-------------*/
.credit p{float:left;font:400 13px 'open sans','fontawesome',sans-serif;display:inline-block}
.tl-contactpop{display:inline-block;background:rgba(255,255,255,0.15);line-height:50px;font-size:15px;cursor:pointer;text-transform:capitalize;padding:0 15px;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-ms-transition:all 300ms linear;-o-transition:all 300ms linear;transition:all 300ms linear}
.backtotop:hover,.tl-contactpop:hover{background:$(keycolor);color:#fff}
.tl-contactpop i{margin-right:5px}
/*-------------
  Other
--------------*/
.tl-recentHeadline .tl-headlineWrap .tl-magMedia,.tl-recentHeadline.tl-recentH-S1 .tl-headlineWrap .tl-magMedia{max-height: 200px;overflow: hidden;}
.tl-gallery .tl-magMedia {max-height: 145px;overflow: hidden;}
.tl-galleryMag .tl-headlineWrap .tl-magMedia {max-height: 418px;overflow: hidden;}
.tl-galleryMag .tl-gal-item .imagewrap {max-height: 127px;overflow: hidden;}
.tl-col-inner.contact-address ul{padding:0}
.tl-col-inner.custom-contact-form .button,input.button{border:none;outline:none}
.contact-form-name,.contact-form-email,.contact-form-email-message,.contact-form-subject,.contact-form-country{max-width:100%;width:100%}
.contact-us-form form{margin:0}
.contact-us-form .contact-form-name,.contact-us-form .contact-form-email,.contact-us-form .contact-form-subject,.contact-us-form .contact-form-email-message,.contact-form-email-message{display:inline-block;font-size:13px;height:30px;margin:0;padding:17px 10px;vertical-align:top;box-sizing:border-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.contact-us-form .contact-form-name,.contact-us-form .contact-form-email,.contact-us-form .contact-form-subject,.contact-us-form .contact-form-email-message{color:#a1b1bc;border:1px solid rgba(0,0,0,0.1)}
.contact-us-form .contact-form-email-message{padding-top:10px;margin-bottom:10px;vertical-align:top;height:120px}
.contact-form-name:hover,.contact-form-email:hover,.contact-form-subject:hover,.contact-form-email-message:hover{border:1px solid $(keycolor);box-shadow:none}
.contact-form-name:focus,.contact-form-email:focus,.contact-form-subject:focus,.contact-form-email-message:focus{border:1px solid $(keycolor);box-shadow:none;outline:none}
.form-hint{padding:15px 0;font-weight:normal;font-size:14px}
.form-hint em{color:red}
.form-hint.cn-name:before,.form-hint.cn-email:before,.form-hint.cn-subject:before,.form-hint.cn-message:before{font-family:fontAwesome;font-weight:normal;padding-right:3px}
.form-hint.cn-name:before{content:"\f007"}
.form-hint.cn-email:before{content:"\f003"}
.form-hint.cn-subject:before{content:"\f00c "}
.form-hint.cn-message:before{content:"\f044"}
span.backtotop{z-index:5;width:40px;height:40px;font-size:25px;line-height:40px;-o-border-radius:2px;-ms-border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;position:fixed;bottom:10px;right:10px;cursor:pointer;background:$(keycolor);color:#FFF;text-align:center;transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out}
div#tl-num-page{position:relative;float:left;margin:0;width:100%;padding:0 25px;}
span.displaypageNum,span.showpageOf,span.pagecurrent,span.showpage.firstpage{line-height:normal;font-size:15px;padding:5px 8px;display:inline-block;margin:2px;border-radius:2px;background:$(keycolor);font-weight:normal;border:2px solid $(keycolor);-webkit-transition:all 300ms ease-in-out;-moz-transition:all 300ms ease-in-out;-ms-transition:all 300ms ease-in-out;-o-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out}
span.displaypageNum:hover,span.showpageOf:hover,span.pagecurrent:hover,span.showpage.firstpage:hover{border-radius:2px;background:#fff;color:#222!important}
span.displaypageNum a,span.showpageOf a,span.pagecurrent a,span.showpage.firstpage a{color:#fff}
span.displaypageNum a:hover,span.showpageOf a:hover,span.pagecurrent a:hover,span.showpage.firstpage a:hover,span.displaypageNum:hover a{color:#222;font-weight:bold}
span.showpageOf{color:#fff;font-weight:normal}
span.showpageOf:before{content:"\f15c";font-family:FontAwesome;margin-right:5px}
span.pagecurrent{font-weight:bold;background:#fff;color:#222}
span.pagecurrent:hover,span.showpageOf:hover{color:#222}

/*-------------
 Responsive
--------------*/
@media only screen and (max-width:1100px) and (min-width:981px){.tl-midheader .main-header,#BlogHeader img{max-width:235px}#outer-wrapper{margin:0 25px;}.featured-right .tl-topost-item{height:191px}.tl-recentHeadline .tl-headlineWrap .tl-magMedia,.tl-recentHeadline.tl-recentH-S1 .tl-headlineWrap .tl-magMedia,.tl-gallery .tl-magMedia,.tl-galleryMag .tl-headlineWrap .tl-magMedia,.tl-galleryMag .tl-gal-item .imagewrap{height:auto!important;}}
@media only screen and (max-width:980px){.tl-recentHeadline .tl-headlineWrap .tl-magMedia,.tl-recentHeadline.tl-recentH-S1 .tl-headlineWrap .tl-magMedia,.tl-gallery .tl-magMedia,.tl-galleryMag .tl-headlineWrap .tl-magMedia,.tl-galleryMag .tl-gal-item .imagewrap{height:auto!important;}.tl-midheader .main-header,#BlogHeader img,.tl-midheader .adbanner{float:none;width:100%;display:block;text-align:center;margin:0 auto}#Ad728x90{margin-top:10px}.navigation-button{display:inline-block;cursor:pointer}.dropdown-button{display:block;padding:0 10px;line-height:40px!important;cursor:pointer}.featured-left .tl-topost-item{height:auto;margin-bottom:-4px}.dropdown-button.active{cursor:pointer}.dropdown .widget-content{position:absolute;top:0px;left:0;display:none;width:100%;height:350px;overflow:auto;z-index:101;background:#222}.dropdown ul{width:100%;display:block;position:static;float:none;margin:0}.megamenu-items h4{color:$(keycolor);margin-top:10px;}li.submenu.choose-cat{display:none}nav h3{display:none!important}nav ul:before,nav ul:after{content:'';display:none}nav>ul>li.submenu>ul,nav>ul>li.submenu>ul>li.submenu2>ul,nav div.nav-post-list,li.megamenu .megamenu-inner{position:static;border:none;visibility:visible;opacity:1;padding:0;background:transparent;border:none}nav>ul>li ul a{background:transparent;color:#fff;border:none}nav>ul>li:hover{background:transparent}.dropdown ul li .nav-post-list{display:none}.dropdown ul li{float:none}.dropdown ul li a{display:block;padding:10px;color:#fff;line-height:normal;}.nav-item{display:none}nav ul ul{padding-left:20px!important}nav ul ul ul{padding-left:40px!important}nav div.nav-post-list,li.megamenu .megamenu-inner{border:none}.rotator-outer container{padding:0 5px}.rotator-outer .container h3{margin:5px 0;padding:0}.main-inner,.sidebar,.home-left,.home-right,.tl-footer-wrap .footer-sec{width:100%!important;float:none!important;height:auto!important}.navigation-button.active{color:$(keycolor)}.navigation .widget-content{position:absolute;left:0;top:35px;display:none}.navigation ul li{margin:0;float:none;max-width:250px;z-index:9;position:relative}.navigation ul li a{display:block;padding:10px;text-align:Center;background:#222}.navigation ul li:last-child{margin-right:0}.featured-left,.featured-right,#main-wrapper,#sidebar-wrapper,#footer-wrapper .col3,.tl-footer-branding .colc,.tl-footer-branding .colc2,.tl-galleryMag .tl-headlineWrap,.tl-galleryMag .tl-subheadWrap{width:100%;float:none}.tl-galleryMag .subhead{margin-left:25px;margin-top:25px;}.featured-left .featured-inner{margin:0}.featured-right .featured-inner{margin:18px 0 0 0}.tl-email{padding:0}.tl-footer-branding h2{text-align:left}.FollowByEmail h2.title{padding-top:25px}.featured-right .tl-topost-item{height:auto}.tl-topost-item img{margin-bottom:-4px}.headline img{width:100%}#main-wrapper .main-inner{border-right:none}#outer-wrapper{margin:0 25px;}}
@media only screen and (max-width:767px){.featured-small,.tl-recentHeadline .tl-headlineWrap,.tl-recentHeadline .tl-subheadWrap,.two-col-content .half-cols,.two-col-content .half-cole,.tl-recentMag.tl-recentH-S2 .container,.small-grid,.home-thumbp,.index .home-descx{float:none;width:100%}.tl-videoItem,.gallery-inner .tl-gallery,.tl-galleryMag .tl-gal-item{width:50%}.tl-galleryMag .tl-subheadWrap{margin-top:25px;}.small-grid .tl-topost{margin-right:0px;}.tl-recentHeadline .headline,.tl-recentHeadline .subhead,.half-cols .section,.half-cole .section{padding:0}.car-item img,.index .post,.img-thumbnail img,.headline img{width:100%}.tl-recentMag.tl-recentH-S2 .tl-magMedia{float:none;margin:0}.tl-recentMag.tl-recentH-S2 .subhead .container:nth-child(2),.tl-recentHeadline .container:first-child{padding-top:10px}.tl-brand img{float:none;max-width:100%;margin:0 auto;text-align:center}.tl-recentHeadline .subhead{border:none}.tl-midheader .adbanner,.tl-galleryMag .tl-headlineWrap p{display:none}.tl-galleryMag .tl-headlineWrap h3{bottom:50px;}#Ad728x90{margin:0}#related-posts li{float:none;width:100%;margin:0}.tl-promote .col2{width:100%}.tl-promote .pull-left{float:none}.tl-adIn{margin-bottom:15px}.tl-promote.ad-in-post{margin-bottom:25px}.news-ticker{display:none}.tl-relatedthumb img{max-height:none}.tl-postShare h6,.tl-author .tl-authAvatar img,.tl-author .tl-authAvatar{float:none}.tl-author .tl-authSocial{text-align:left}.tl-author p.tl-authName{margin-top:0}.bcreative-pager a, .bcreative-pager .linkgrey{width:100%;}.tl-recentMag.tl-postCarousel.topCar,.tl-postCarousel-F.fouritem{display:none}.tl-topfeatured{margin:10px 0 25px 0}.col2{width:100%}.tl-img-post{margin-right:0;}.img-thumbnail img{height:auto!important;}}
@media only screen and (max-width:479px){.tl-tickernews,.news-ticker,.metadata,.tl-recentSimple-meta,.tl-randomSimple-meta,.tl-headm,a.tl-headlinks{display:none!important}div#FeaturedXLarge-2 a h3, .tl-postCarousel .car-item h3{font-size:15px;}div#FeaturedXLarge-2 a h3{font-size:20px}.tl-videoItem,.gallery-inner .tl-gallery,.tl-gallery .tl-magMedia img,.tl-galleryMag .tl-gal-item,.tl-galleryMag .imagewrap img,.tl-stab-buttons>span{width:100%}#related-posts li{float:none;width:100%;margin:0}.comments .comments-content .comment-replies{margin-left:0;}.featured-two-col a h3,.featured-large a h3,.small-grid a h3,#sidebar-wrapper .tl-topost-item h3,.tl-recentMag.tl-recentH-S1 .headline h3{font-size:15px;text-transform:capitalize;}.tl-topost-cat{top:0;left:0;font-size:10px}}
@media only screen and (max-width:329px){div#FeaturedXLarge-2 a h3{font-size:15px}}
